<div class="container margin-top-xxxl">
    <div class="row">
        <div class="col text-title text-center">
            {{local.string.HowItWorks}}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.Albums_desc_1}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.Albums_desc_2}}
        </div>
    </div>
    <br>
</div>
<br><br><br>
<div class="back-wood-top"></div>
<div class="back-wood-center">
    <div class="container padding-large">

        <div class="row">
            <div class="col text-title text-center">
                {{local.string.CTCards}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <div class="cnt-card card inline-block margin hide-at-work d-inline-block">
                    <img class="card-img" src="http://app.cardsandtokens.com/assets/cards/landing/images/thumbnail/bigbuckbunny.png">
                </div>
    
                <div class="cnt-card card inline-block margin hide-at-work d-inline-block">
                    <img class="card-img" src="http://app.cardsandtokens.com/assets/cards/landing/images/thumbnail/drumpf.png">
                </div>
    
                <div class="cnt-card card inline-block margin hide-at-work d-inline-block">
                    <img class="card-img" src="http://app.cardsandtokens.com/assets/cards/landing/images/thumbnail/soothsayer.png">
                </div>
    
                <div class="cnt-card card inline-block margin hide-at-work d-inline-block">
                    <img class="card-img" src="http://app.cardsandtokens.com/assets/cards/landing/images/thumbnail/travolta.png">
                </div>
            </div>
        </div>    
        <br><br>
        <div class="row">
            <div class="col text-subtitle">
                {{local.string.CT_dec_1}}
            </div>
        </div>
        <br>
        <div class="row">
            <ul>
                <li class="margin-top">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_1}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_1}}</span>
                </li>
                <li class="margin-top">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_2}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_2}}</span>
                </li>
                <li class="margin-top">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_3}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_3}}</span>
                </li>
            </ul>
        </div>
        <br><br>  
    </div>
</div>
<div class="back-wood-bottom drop-shadow"></div>
<br><br>
<div class="container margin-top-xl">
    <div class="row">
        <div class="col text-title text-center">
            {{local.string.CardFormat}}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.CT_dec_2}}
        </div>
    </div>
    <br><br>            
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.CT_dec_3}}
        </div>
    </div>
    <br><br>            
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.CT_dec_4}}
        </div>
    </div>
    <br><br>            
    <div class="row text-center">
        <div class="col text-center">
            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w91-siomarasalmeron-lento" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w91-siomarasalmeron-lento.png"></a>
            </div>

            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w104-pechichemena-el-molino" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w104-pechichemena-el-molino.png"></a>
            </div>

            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w90-dreamrafa-power-out-jam" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w90-dreamrafa-power-out-jam.png"></a>
            </div>

            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w97-paintingangels-swim" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w97-paintingangels-swim.png"></a>
            </div>

            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w105-wilins-animales" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w105-wilins-animales.png"></a>
            </div>

            <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                <a href="http://app.cardsandtokens.com/deploy/card/openmic-w107-drewsmusic-you-are-the-best-thing" target="_blank"><img class="card-img" src="http://app.cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w107-drewsmusic-you-are-the-best-thing.png"></a>
            </div>
            
        </div>
    </div>  
</div>
<br><br><br>

<div class="back-wood-top"></div>
<div class="back-wood-center">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col text-title text-center">
                {{local.string.Albums}}
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col text-subtitle">
                {{local.string.Albums_desc_1}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-subtitle">
                {{local.string.Albums_desc_2}}
            </div>
        </div>
        <br>
    </div>
    <br><br>
</div>
<div class="back-wood-bottom drop-shadow"></div>


<div class="container  margin-top-xxxl">
    <div class="row">
        <div class="col flex-grow-0 text-center">
            <img style="max-width: 30vw;" src="assets/openmic-preview-thumbnail.png" />
        </div>
        <div class="col text-left">
            <p class="text-subtitle">{{local.string.album_openmic_des}}</p>
            <a class="btn btn-primary" href="https://steemit.com/cardsandtokens/@viterbo/cards-and-tokens-openmic-album" target="_blank" >{{local.string.read_more}}</a>
        </div>
    </div>
    <br><br>
    <div class="row margin-top-xl">
        <div class="col text-right">
            <p class="text-subtitle">{{local.string.album_telos_des}}</p>
            <a class="btn btn-primary" href="https://steemit.com/cardsandtokens/@viterbo/telos-trading-cards-album" target="_blank" >{{local.string.read_more}}</a>
        </div>
        <div class="col flex-grow-0 text-center">
            <img style="max-width: 30vw;" src="assets/telos-preview-thumbnail.png" />
        </div>
    </div>    
</div>
<br><br><br><br>
