:host {
    background-repeat: repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url(/assets/texture-bg.jpg);
    display: block;
}