<div class="container text-center margin-top-xxxl">
    <img class="img-fluid" src="assets/cards-and-tokens-full.png"     >
    <p class="text-subtitle">{{local.string.subtitle_1}}<br>
        {{local.string.subtitle_2}}</p>
</div>

<div class="back-wood-top margin-top-xxxl"></div>
<div class="back-wood-center">
    <div class="container padding-large">
        <p class="text-subtitle">{{local.string.home_desc_1}}</p>
        <p class="text-subtitle">{{local.string.home_desc_2}}</p>
        <p class="text-subtitle">{{local.string.home_desc_3}}</p>
    </div>    
</div>
<div class="back-wood-bottom drop-shadow"></div>

<div class="bg-color-black-alpha">
    <br><br><br>
    <div class="container text-center padding-large">
        <div class="embed-responsive embed-responsive-16by9 frame-border bg-color-black-alpha">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YSVJgKsSobA" allowfullscreen></iframe>
        </div>
    </div>
    <br><br><br>
    <br><br><br>
</div>


<div class="back-wood-top"></div>
<div class="back-wood-center">
    <div class="container padding-large">
        <div class="row">
            <div class="col text-title text-center">
                <img class="img-fluid" src="assets/telos_logo250px.png" />
            </div>
        </div>        
        <div class="row margin-top-xl">
            <div class="col text-center">
                <p class="text-subtitle">
                    {{local.string.telos_desc_1}}<br>
                    {{local.string.telos_desc_2}}
                </p>
                <p>
                    <a class="btn btn-outline-warning" href="https://telosfoundation.io/" target="_blank" >{{local.string.gotowebpage}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="back-wood-bottom drop-shadow"></div>
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col text-title text-center">
            {{local.string.Albums}}
        </div>
    </div>
    <br><br>
    <div class="row margin-top-xl">
        <div class="col flex-grow-0 text-center">
            <img style="max-width: 30vw;" src="assets/openmic-preview-thumbnail.png" />
        </div>
        <div class="col text-left">
            <p class="text-subtitle">{{local.string.album_openmic_des}}</p>
            <a class="btn btn-primary" href="#" routerLink="/albums" >{{local.string.read_more}}</a>
        </div>
    </div>
    <br><br>
    <div class="row margin-top-xl">
        <div class="col text-right">
            <p class="text-subtitle">{{local.string.album_telos_des}}</p>
            <a class="btn btn-primary" href="#" routerLink="/albums" >{{local.string.read_more}}</a>
        </div>
        <div class="col flex-grow-0 text-center">
            <img style="max-width: 30vw;" src="assets/telos-preview-thumbnail.png" />
        </div>
    </div>    
</div>
<br><br><br><br><br>