<div class="container text-center margin-top-xxxl">
    <div class="row margin-top">
        <div class="col"><div class="chip-face-container"><img class="img-fluid chip-face" src="assets/chip-face-1.svg"></div></div>
        <div class="col"><div class="chip-face-container"><img class="img-fluid chip-face" src="assets/chip-face-2.svg"></div></div>
    </div>
    <p class="text-center text-subtitle margin-top-xxl">
        {{local.string.tkn_intro}}
    </p>
</div>

<div class="back-wood-top margin-top-xxxl"></div>
<div class="back-wood-center">
    <div class="container padding-large">
        <p class="text-title text-center">{{local.string.Airdrop}}</p>
        <p class="text-subtitle">
            {{local.string.tkn_air_1}}
        </p>
        <p class="text-subtitle">
            {{local.string.tkn_air_2}}
        </p>
        <p class="text-subtitle">
            {{local.string.tkn_air_3}}
        </p>
        <div class="container text-left">
            <div id="video" class="embed-responsive frame-border bg-color-black-alpha padding">
                cleos --url https://telos.eos.barcelona push action vapaeetokens claim '["accountname","CNT","accountname"]' -p accountname
            </div>
        </div>
        <p class="margin-top text-center"><a class="btn btn-primary" href="https://steemit.com/introduceyourself/@viterbo/i-am-an-entrepreneur-and-i-m-going-to-build-a-dapp-over-eos" target="_blank">{{local.string.read_more}}</a></p>
    </div>
</div>
<div class="back-wood-bottom drop-shadow"></div>

<div class="bg-color-black-alpha">
    <br><br><br>
    <div class="container">
        <p class="text-title text-center">{{local.string.InfCurr}}</p>
        <p class="text-subtitle">{{local.string.tkn_inf_tit_1}}</p>
        <p class="text-normal">
            {{local.string.tkn_inf_cont_1}}
        </p>        
        <p class="text-subtitle">{{local.string.Rewards}}</p>
        <div class="text-normal">
            <p class="text-normal">
                {{local.string.tkn_inf_cont_2}}
            </p>
            <ul>
                <li>
                    <p class="text-subtitle">{{local.string.tkn_inf_tit_3}}</p>
                    <p class="text-normal">
                        {{local.string.tkn_inf_cont_3}}
                    </p>
                </li>
                <li>
                    <p class="text-subtitle">{{local.string.tkn_inf_tit_4}}</p>
                    <p class="text-normal">
                        {{local.string.tkn_inf_cont_41}}
                    </p>
                    <p class="text-normal">
                        {{local.string.tkn_inf_cont_42}}
                    </p>
                    <p class="text-normal">
                        {{local.string.tkn_inf_cont_43}}
                    </p>
                </li>
                <li>
                    <p class="text-subtitle">{{local.string.tkn_inf_tit_5}}</p>
                    <p class="text-normal">{{local.string.tkn_inf_cont_51}}</p>
                    <p class="text-normal">{{local.string.tkn_inf_cont_52}}</p>
                </li>
                <li>
                    <p class="text-subtitle">{{local.string.tkn_inf_tit_6}}</p>
                    <p class="text-normal">
                        {{local.string.tkn_inf_cont_6}}
                    </p>
                </li>
                <li>
                    <p class="text-subtitle">{{local.string.tkn_inf_tit_7}}</p>
                    <p class="text-normal">{{local.string.tkn_inf_cont_71}}</p>
                    <p class="text-normal">{{local.string.tkn_inf_cont_72}}</p>
                </li>                
            </ul>
        </div>
        <p class="text-subtitle">{{local.string.InfControl}}</p>
        <div class="text-normal">
                <ul>
                    <li>
                        <p class="text-subtitle">{{local.string.tkn_ctrl_tit_1}}</p>
                        <p class="text-normal">
                            {{local.string.tkn_ctrl_cont_1}}
                        </p>
                    </li>
                    <li>
                        <p class="text-subtitle">{{local.string.tkn_ctrl_tit_2}}</p>
                        <p class="text-normal">
                            {{local.string.tkn_ctrl_cont_2}}
                        </p>
                    </li>
                    <li>
                        <p class="text-subtitle">{{local.string.tkn_ctrl_tit_3}}</p>
                        <p class="text-normal">
                            {{local.string.tkn_ctrl_cont_3}}
                        </p>
                    </li>
                    <li>
                        <p class="text-subtitle">{{local.string.tkn_ctrl_tit_4}}</p>
                        <p class="text-normal">
                            {{local.string.tkn_ctrl_cont_4}}
                        </p>
                    </li>                
                </ul>
            </div>
        <br>
    </div>
</div>
<div class="back-wood-top"></div>
<div class="back-wood-center">
    <div class="container padding-large">
        <p class="text-title text-center">{{local.string.TokDemand}}</p>
        <p class="text-subtitle">{{local.string.tkn_demand_tit_1}}</p>
        <p class="text-normal">
            {{local.string.tkn_demand_cont_1}}
        </p>
        <p class="text-subtitle">{{local.string.tkn_demand_tit_2}}</p>
        <p class="text-normal">
            {{local.string.tkn_demand_cont_2}}
        </p>
        <p class="text-subtitle">{{local.string.tkn_demand_tit_3}}</p>
        <p class="text-normal">
            {{local.string.tkn_demand_cont_3}}
        </p>
        <p class="text-subtitle">{{local.string.tkn_demand_tit_4}}</p>
        <p class="text-normal">
            {{local.string.tkn_demand_cont_4}}
        </p>    
    </div>
</div>
<div class="back-wood-bottom drop-shadow"></div>