<div class="container margin-top-xxxl">
        <div class="row">
            <div class="col text-title text-center">
                {{local.string.Albums}}
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col text-subtitle">
                {{local.string.Albums_desc_1}}
            </div>
        </div>
        <br>
        <div class="row">
            <ul>
                <li class="margin-top-xl">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_1}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_1}}</span>
                </li>
                <li class="margin-top-xl">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_2}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_2}}</span>
                </li>
                <li class="margin-top-xl">
                    <span class="text-subtitle">{{local.string.CT_dec_tit_3}}:</span><br>
                    <span class="text-paragraph">{{local.string.CT_dec_diff_3}}</span>
                </li>
            </ul>
        </div>
        <br><br>
        <div class="row">
            <div class="col text-subtitle">
                {{local.string.CT_dec_2}}
            </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col text-center">
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w91-siomarasalmeron-lento" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w91-siomarasalmeron-lento.png"></a>
                </div>
    
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w104-pechichemena-el-molino" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w104-pechichemena-el-molino.png"></a>
                </div>
    
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w90-dreamrafa-power-out-jam" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w90-dreamrafa-power-out-jam.png"></a>
                </div>
    
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w97-paintingangels-swim" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w97-paintingangels-swim.png"></a>
                </div>
    
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w105-wilins-animales" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w105-wilins-animales.png"></a>
                </div>
    
                <div class="cnt-card card cursor-pointer inline-block margin hide-at-work d-inline-block">
                    <a href="http://cardsandtokens.com/deploy/card/openmic-w107-drewsmusic-you-are-the-best-thing" target="_blank"><img class="card-img" src="http://cardsandtokens.com/assets/cards/openmic/images/thumbnail/openmic-w107-drewsmusic-you-are-the-best-thing.png"></a>
                </div>
                
            </div>
        </div>    
        
    </div>