<div class="container margin-top-xxxl">
    <div class="row">
        <div class="col text-title text-center">
            {{local.string.Albums}}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.Albums_desc_1}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-subtitle">
            {{local.string.Albums_desc_2}}
        </div>
    </div>
    <br>
</div>
<br><br><br><br>
<div class="back-wood-top"></div>
<div class="back-wood-center">
    <div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col flex-grow-0 text-center">
                <img style="max-width: 30vw;" src="assets/openmic-preview-thumbnail.png" />
            </div>
            <div class="col text-left">
                <p class="text-subtitle">{{local.string.album_openmic_des}}</p>
                <a class="btn btn-primary" href="https://steemit.com/cardsandtokens/@viterbo/cards-and-tokens-openmic-album" target="_blank" >{{local.string.read_more}}</a>
            </div>
        </div>
        <br><br>
        <div class="row margin-top-xl">
            <div class="col text-right">
                <p class="text-subtitle">{{local.string.album_telos_des}}</p>
                <a class="btn btn-primary" href="https://steemit.com/cardsandtokens/@viterbo/telos-trading-cards-album" target="_blank" >{{local.string.read_more}}</a>
            </div>
            <div class="col flex-grow-0 text-center">
                <img style="max-width: 30vw;" src="assets/telos-preview-thumbnail.png" />
            </div>
        </div>    
    </div>
    <br><br>
</div>
<div class="back-wood-bottom drop-shadow"></div>
<br><br><br><br><br>
