<div class="container margin-top-xxxl">
    <div class="row">
        <div class="col text-title text-center">
            {{local.string.FAQ}}
        </div>
    </div>
    <br><br>
    <ul>
        <li>
            <p class="question">{{local.string.faq_q1}}</p>
            <p class="answer">{{local.string.faq_a1}}</p>
            <p class="answer"><a class="btn btn-secondary" href="https://steemit.com/cardsandtokens/@viterbo/telos-trading-card-6-telos-network-proposals-for-snapshot-and-airdrops" target="_blank">{{local.string.read_more}}</a></p>
            <br><br>
        </li>
        <li>
            <p class="question">{{local.string.faq_q2}}</p>
            <p class="answer">{{local.string.faq_a2}}</p>
            <ul class="no-points">
                <li><i class="fa fa-check-square-o text-success"></i> - <span>{{local.string.faq_a2_p1}}</span></li>
                <li><i class="fa fa-check-square-o text-success"></i> - <span>{{local.string.faq_a2_p2}}</span></li>
                <li><i class="fa fa-check-square-o text-success"></i> - <span>{{local.string.faq_a2_p3}}</span></li>
                <li><i class="fa fa-check-square text-warning"></i> - <span>{{local.string.faq_a2_p4}}</span></li>
                <li><i class="fa fa-check-square text-warning"></i> - <span>{{local.string.faq_a2_p5}}</span></li>
                <li><i class="fa fa-check-square text-warning"></i> - <span>{{local.string.faq_a2_p6}}</span></li>
                <li><i class="fa fa-square-o text-danger"></i> - <span>{{local.string.faq_a2_p7}}</span></li>
                <li><i class="fa fa-square-o text-danger"></i> - <span>{{local.string.faq_a2_p8}}</span></li>
                <li><i class="fa fa-square-o text-danger"></i> - <span>{{local.string.faq_a2_p9}}</span></li>
            </ul>
            <br><br><br>
        </li>
        <li>
            <p class="question">{{local.string.faq_q3}}</p>
            <p class="answer">{{local.string.faq_a3}}</p>
            <p class="answer"><a class="btn btn-secondary" href="https://steemit.com/introduceyourself/@viterbo/i-am-an-entrepreneur-and-i-m-going-to-build-a-dapp-over-eos" target="_blank">{{local.string.read_more}}</a></p>
        </li>
    </ul>
</div>