.question {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.answer {
    color: grey;
    font-size: 18px;
    font-weight: bold;
}


ul.no-points {
    padding-inline-start: 0px;
    li {
        list-style-type: none;
    }
}